{% extends "layouts/default.twig" %}

{% block content %}
<div class="row">
    <h2>Dashboard</h2>
</div>

<div class="row">

    <div class="col-9">
        <h5 id="grill-name">{{ grill.name }}</h5>
        <!-- <small class="col-12 probe-info" id="grill-serialnumber">
            Serial: {{ grill.serialNumber }}
        </small>
        <small class="col-12 probe-info" id="grill-firmware">
            Firmware: {{ grill.firmwareVersion }}
        </small> -->
    </div>

    <div class="col-3 text-end">
        <span class="badge bg-success" id="grill-battery">Battery: <span>{{ grill.battery }}</span>%</span>
        <span class="badge bg-success" id="grill-connected">Connected</span>
    </div>
</div>

<div class="row pt-3">
    <div class="col col-9">
        <h3>Probes</h3>
    </div>
    <div class="col col-3 text-end">
        <a href="/probes/settings" class="btn btn-sm btn-primary"><span class="align-middle">Probe Settings</span> <i class="bi bi-gear align-middle"></i></a>
    </div>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2">
    {% for probe in probes %}
        {% include 'elements/probe.twig' with {'probe': probe} %}
    {% endfor %}
</div>
<div class="row py-2">
	<div class="col">
		{% include 'elements/temperaturegraph.twig' with {
			'graph': {
				'id'    : 'livetemperatures',
				'title' : "Live temperatures - Last " ~ settings.liveMinutes ~ " minutes - aggregates every minute",
				'colors': colors,
			}
		} %}
    </div>
</div>

<div class="row pt-3">
    <div class="col col-9">
        <h3>Session</h3>
    </div>
    <div class="col col-3 text-end">
        {% if session %}
            <a href="/session/settings" class="btn btn-sm btn-primary"><span class="align-middle">Session Settings</span> <i class="bi bi-gear align-middle"></i></a>
        {% endif %}
    </div>
</div>
<div class="row py-2">
    {% if not session %}
        <div class="row">
            <div class="col">
                <form method="post" action="/sessions/start">
                    <button type="submit" class="btn btn-sm btn-primary">Start new session</button>
                </form>
            </div>
        </div>
    {% endif %}
</div>

{% include 'elements/delete-modal.twig' with {
    'modal': {
        'id'        : 'endsession',
        'action'    : "/sessions/end",
        'name'      : "endsession",
        'value'     : "",
        'buttontext': "End session",
    }
} %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/assets/js/dashboard.js"></script>
{% endblock %}