<div id="{{ chart.id }}"></div>

<script type="text/javascript">

    window.addEventListener('load', function () {
        
        let options = {
            series: [],
            chart: {
                type: 'line',
                stacked: false,
                height: 350,
                zoom: {
                    type: 'x',
                    enabled: true,
                    autoScaleYaxis: true
                },
                animations: {
                    enabled: false,
                    easing: 'linear',
                    dynamicAnimation: {
                        speed: 1000
                    }
                },
            },
            dataLabels: {
                enabled: false
            },
            markers: {
                size: 0,
            },
            title: {
                text: "{{ chart.title }}",
                align: 'left'
            },
            xaxis: {
                type: 'datetime',
                labels: {
                    formatter: function (timestamp, value) {
                        return moment(timestamp).format("HH:mm");
                    },
                }
            },
            yaxis: {
                title: {
                    text: 'Temperature'
                },
                min: 0
            },
            stroke: {
                curve: 'smooth',
                width: 2
            },
            colors: {{chart.colors|json_encode|raw}},
            noData: {
                text: 'Loading...'
            },
            tooltip: {
                fillSeriesColor: true,
                shared: false
            }
        };

        chart = new ApexCharts(document.querySelector("#{{ chart.id }}"), options);
        chart.render();

    });

</script>