<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://github.com/epiecs/grilleye-max-gui"
            target="_blank">GrillEye Web</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sessions">Sessions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/presets">Presets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/settings">Settings</a>
                </li>
            </ul>
            <!-- <div class="mb-3">
                <input type="text" class="form-control" id="phoneid" aria-describedby="phone-id" placeholder="phone-id: 12abc3de-4567-89f0-a123-456b789012c3">
            </div> -->
        </div>
    </div>
</nav>